
GeminiMurderMystery/GeminiMurderMystery.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GeminiMurderMystery/GeminiMurderMystery.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GeminiMurderMystery/GeminiMurderMystery.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
GeminiMurderMystery/GeminiMurderMystery.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
GeminiMurderMystery/GeminiMurderMystery.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
GeminiMurderMystery/GeminiMurderMystery.xcodeproj/xcshareddata/xcschemes/GeminiMurderMystery.xcscheme
